<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <publishItem>
        <processor patch:after="*[@type='Sitecore.Publishing.Pipelines.PublishItem.Processors.ProcessPublishing, Sitecore.Kernel']"
                   type="ReadLogsAndSolve.Pipelines.CustomPublisher, ReadLogsAndSolve" />
      </publishItem>
    </pipelines>
  </sitecore>
</configuration>